<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
            <h1 class="text-center"><img class="img-maintitle" src="/img/mainicon.gif" style="width: 50%;">
                <!--<br>                <img class="img-maintitle" src="/img/mainstudiologo.png" style="width: 60%;">-->
            </h1>
              <!--{{site.title}}</h1>-->
          {% endif %}

          {% if site.description != '' or site.enable_contact == true %}
          <p class="text-center">
            {% if site.description != '' %}
            {{site.description}}<!--<br>카카오 이모티콘입니다.-->
            {% endif %}

            {% if site.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %}
          </p>
          {% endif %}

          <div class="hero-buttons">

           
            {% if site.bbyu_kakao_emoticon_username != '' %}
              <a href="https://e.kakao.com/search?q=%EC%80%BC"><button class="btn btn-default btn-lg">
                   카카오 이모티콘 emoticon </button></a>
            {% endif %}
              <br>
            {% if site.bbyustudio_board:  != '' %}
              <a href="https://forms.gle/TJoihUvPoCNLp1Lt9"><button class="btn btn-default btn-lg">
                   쀼스튜디오 메세지/건의 함 </button></a>
            {% endif %}
              <br>
              

          </div>

        </div>

      </div>

      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>
