<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
            <h1 class="text-center">
	    <img class="img-maintitle" src="/img/mainstudiologo.png" style="width: 60%;">
                <!--<br>                <img class="img-maintitle" src="/img/mainstudiologo.png" style="width: 60%;">-->
	    <!--<img class="img-maintitle" src="/img/mainicon.png" style="width: 50%;">-->
            </h1>
              <!--{{site.title}}</h1>-->
          {% endif %}

          {% if site.description != '' or site.enable_contact == true %}
          <p class="text-center">
            {% if site.description != '' %}
            <!--{{site.description}}-->
	<!--<br>카카오 이모티콘입니다.-->
            {% endif %}

            {% if site.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %}
          </p>
          {% endif %}

          <div class="hero-buttons">

           
            <!--{% if site.bbyu_kakao_emoticon_username != '' %}
              <a href="https://e.kakao.com/search?q=%EC%80%BC"><button class="btn btn-default btn-lg">
                   카카오 이모티콘 emoticon </button></a>
            {% endif %}
              <br>-->
	{% if site.bbyul1_usernema != '' %}
              <a href="https://e.kakao.com/t/starfish-motions-and-emotions"><button class="btn btn-default btn-lg">
                  <img class="img-maintitle" src="/img/BB1.png"  style="width:40px;height40px;">끼쟁이 쁄가사리
                  </button></a>
              <!--<i class="fa fa-solid fa-star"></i>-->
            {% endif %}
              <br>
            {% if site.bbyul2_username != '' %}
              <a href="https://e.kakao.com/t/starfish-motions-and-emotions-2"><button class="btn btn-default btn-lg">
                  <img class="img-maintitle" src="/img/BB2.png"  style="width:40px;height40px;">끼쟁이 쁄가사리2</button></a>
            {% endif %}
              <br>
            {% if site.malmizalboy1_username != '' %}
              <a href="https://e.kakao.com/t/sea-anemone-boy"><button class="btn btn-default btn-lg">
                  <img class="img-maintitle" src="/img/MA1.png"  style="width:40px;height40px;"> 말미잘 보이</button></a>
            {% endif %}
              <br>
            {% if site.ppwagbears1_username != '' %}
              <a href="https://e.kakao.com/t/ppwag-bears-relaxed-day"><button class="btn btn-default btn-lg">
                  <img class="img-maintitle" src="/img/BG1.png"  style="width:40px;height40px;"> 뽝곰이의 막사는 하루</button></a>
            {% endif %}
              <br>
            {% if site.puresoulpuppy1_username != '' %}
              <a href="https://e.kakao.com/t/puppy-with-a-pure-soul"><button class="btn btn-default btn-lg">
                  <img class="img-maintitle" src="/img/DG1.png"  style="width:40px;height40px;"> 무해한 똥깡아지</button></a>
            {% endif %}
              <br>
            {% if site.ppwagbears2_username != '' %}
              <a href="https://e.kakao.com/t/ppwag-bears-life-on-campus"><button class="btn btn-default btn-lg">
                  <img class="img-maintitle" src="/img/BG2.png"  style="width:40px;height40px;"> 뽝곰이의 거침없는 대학생활</button></a>
            {% endif %}
              <br>
            {% if site.ppwagbears2_username != '' %}
              <a href="https://e.kakao.com/t/ppwag-bear-is-a-hard-worker"><button class="btn btn-default btn-lg">
                  <img class="img-maintitle" src="/img/BG3.png"  style="width:40px;height40px;"> 뽝곰이의 사회생활</button></a>
            {% endif %}
              <br>
            {% if site.ppwagbears2_username != '' %}
              <a href="https://e.kakao.com/t/merry-christmas-with-ppwag-bear"><button class="btn btn-default btn-lg">
                  <img class="img-maintitle" src="/img/BG4.png"  style="width:40px;height40px;"> 뽝곰이와 크리스마스</button></a>
            {% endif %}
              <br>
            {% if site.ppwagbears2_username != '' %}
              <a href="https://e.kakao.com/t/diligent-ppwag-bears-trying-to-live"><button class="btn btn-default btn-lg">
                  <img class="img-maintitle" src="/img/BG5.png"  style="width:40px;height40px;"> 애써 현생을 살아보는 뽝곰이</button></a>
            {% endif %}
              <br>
            {% if site.ppwagbears2_username != '' %}
              <a href="https://e.kakao.com/t/adorably-playful-bear-ppwag"><button class="btn btn-default btn-lg">
                  <img class="img-maintitle" src="/img/BG6.png"  style="width:40px;height40px;"> 잔망스런 뽝곰이</button></a>
            {% endif %}
              <br>
            {% if site.ppwagbears2_username != '' %}
              <a href="https://e.kakao.com/t/baby-starfish-motions-and-emotions"><button class="btn btn-default btn-lg">
                  <img class="img-maintitle" src="/img/BB3.png"  style="width:40px;height40px;"> 끼쟁이 아기 쁄가사리</button></a>
            {% endif %}
              <br>
            {% if site.bbyustudio_board:  != '' %}
              <a href="https://forms.gle/TJoihUvPoCNLp1Lt9"><button class="btn btn-default btn-lg">
                   쀼스튜디오 메세지/건의 함 </button></a>
            {% endif %}
              <br>
            
              

          </div>

        </div>

      </div>

      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>
