<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
            <h1 class="text-center"><img class="img-maintitle" src="/img/mainicon.gif" style="width: 30%;"><br>
                <img class="img-maintitle" src="/img/mainstudiologo.png" style="width: 60%;">
            </h1>
              <!--{{site.title}}</h1>-->
          {% endif %}

          {% if site.description != '' or site.enable_contact == true %}
          <p class="text-center">
            {% if site.description != '' %}
            {{site.description}}<!--<br>카카오 이모티콘입니다.-->
            {% endif %}

            {% if site.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %}
          </p>
          {% endif %}

          <div class="hero-buttons">

            {% if site.bbyul1_usernema != '' %}
              <a href="https://e.kakao.com/t/starfish-motions-and-emotions"><button class="btn btn-default btn-lg">
                  <img class="img-maintitle" src="/img/BB1.png"  style="width:40px;height40px;">끼쟁이 쁄가사리
                  </button></a>
              <!--<i class="fa fa-solid fa-star"></i>-->
            {% endif %}
            {% if site.bbyul2_username != '' %}
              <a href="https://e.kakao.com/t/starfish-motions-and-emotions-2"><button class="btn btn-default btn-lg">
                  <img class="img-maintitle" src="/img/BB2.png"  style="width:40px;height40px;">끼쟁이 쁄가사리2</button></a>
            {% endif %}
            {% if site.malmizalboy1_username != '' %}
              <a href="https://e.kakao.com/t/sea-anemone-boy"><button class="btn btn-default btn-lg">
                  <img class="img-maintitle" src="/img/MA1.png"  style="width:40px;height40px;"> 말미잘 보이</button></a>
            {% endif %}

          </div>

        </div>

      </div>

      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>
